#header
	#header-content
		h1.title=title
		h5.subtitle Created by Blake Mealey
		//- ul#nav
			li
				a(href="http://blakemealey.ca") ABOUT
			li
				a(href="http://blakemealey.ca/blog") BLOG
			li#selected
				a(href="/") SCHEDULE APP
