extends layout

block content
	.page-content
		h1= title
		form#formMakeCalendar(name="makecalendar", method="post", action="/makecalendar")
			.left
				h2 Course Information
				textarea#textAreaCourseData(name="coursedata")
			.right
				h2 Semester
				select#selectSemester(name="selectsemester")
					option(value="none") Select One
					option(value="fall") Fall
					option(value="winter") Winter
					option(value="spring") Spring
					option(value="summer") Summer
				h2 Calendar Name
				input#inputName(name="calendarname", type="text")
				h2 Colours
				h3 Calendar Colour
				ul.colorContainer#calendar
				h3 Lecture Colour
				ul.colorContainer#event
				h3 Tutorial/Lab Colour
				ul.colorContainer#event
				div#submission
					input#buttonSubmit(type="button" value="Make Calendar")
					div#error
	.page-content
		h1 How to Use
		p.
			Tutorial goes here.

block scripts
	script(type="text/javascript" src="/javascripts/jquery-1.11.3.min.js")
	script(type="text/javascript" src="/javascripts/colorPopulator.js")
	script(type="text/javascript" src="/javascripts/calendarNameSetup.js")
	script(type="text/javascript" src="/javascripts/errorHandler.js")