doctype html
html
	head
		title= title
		link(meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		block css
	body
		#wrapper
			block content
		block scripts
