extends layout

block content
	.page-content
		h1= title
		p.
			Hold on while we build your calendar. We will redirect you when we are done. If you aren't redirected soon, click #[a(href="/scheduleapp") this link] to go back to the app.
