extends layout

block css
	link(rel='stylesheet', href='/stylesheets/error.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	#error-header
		#top
			h1.title Error 404
	#bottom
		a#home(href="/")
			i(class="material-icons md-light md-48") home
			p HOME
		h2.subtitle Arr! We be in uncharted waters, matey!