extends ./../layout

block css
	link(rel='stylesheet', href='/stylesheets/error.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	#error-header
		.section-wrapper
			#top
				h1.title Error 404
	.section-wrapper
		#bottom
			a#home(href="/")
				i(class="material-icons md-light md-48") home
				p HOME
			h2.subtitle Arr! We be in uncharted waters, matey!